body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: FFDE00;
}

h1 {
  text-align: center;
  margin: 20px 0;
}

.controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.pokemon-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
  gap: 15px;
}

.pokemon-card {
  background: white;
  border-radius: 10px;
  padding: 15px;
  width: 180px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  cursor: pointer;
}

.pokemon-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}


@media (max-width: 600px) {
  .pokemon-card {
    width: 100%;
    max-width: 300px;
  }

  .controls {
    flex-direction: column;
    align-items: center;
  }
}
